<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Robot Control</title>
        <script>
            function sendCommand(command) {
                fetch('/control', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    body: 'command=' + command
                });
            }
        </script>
    </head>
    <body>
        <h1>Control the Robot</h1>
        <button onmousedown="sendCommand('forward')" onmouseup="sendCommand('stop')">Forward</button>
        <button onmousedown="sendCommand('backward')" onmouseup="sendCommand('stop')">Backward</button>
        <button onmousedown="sendCommand('left')" onmouseup="sendCommand('stop')">Left</button>
        <button onmousedown="sendCommand('right')" onmouseup="sendCommand('stop')">Right</button>
        <button onmousedown="sendCommand('no_turn')" onmouseup="sendCommand('stop')">Straight</button>
        <button onclick="sendCommand('stop')">Stop</button>
        <a href="/take_photo">
            <button>Download Photo</button>
        </a>
        <img src="{{ url_for('video_feed') }}" width="640" height="480">
        

        <form method="POST">
            <label for="head">Kopf:</label>
            <input type="range" id="head" name="head" min="0" max="180" value="{{ slider_head_value }}" step="1"
                oninput="headOutput.value = head.value">
            <output name="headOutput" id="headOutput">{{ slider_head_value }}</output>
            <br><br>
            <label for="arm1">Arm 1:</label>
            <input type="range" id="arm1" name="arm1" min="0" max="180" value="{{ slider_arm1_value }}" step="1"
                oninput="arm1Output.value = arm1.value">
            <output name="arm1Output" id="arm1Output">{{ slider_arm1_value }}</output>
            <br><br>

            <label for="arm2">Arm 2:</label>
            <input type="range" id="arm2" name="arm2" min="0" max="180" value="{{ slider_arm2_value }}" step="1"
                oninput="arm2Output.value = arm2.value">
            <output name="arm2Output" id="arm2Output">{{ slider_arm2_value }}</output>
            <br><br>
            <label for="grabber">Greifer:</label>
            <input type="range" id="grabber" name="grabber" min="0" max="180" value="{{ slider_grabber_value }}" step="1"
                oninput="grabberOutput.value = grabber.value">
            <output name="grabberOutput" id="grabberOutput">{{ slider_grabber_value }}</output>
            <br><br>

            <button type="submit">Submit</button>
        </form>


    </body>
</html>


