<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Robot Control</title>
        <script>
            function sendCommand(command) {
                fetch('/control', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    body: 'command=' + command
                });
            }

            let lastSent = 0;

            function sendSliderValue(slider, value) {
                const now = Date.now();
                if(now - lastSent >= 2000){
                    lastSent = now;
                    fetch('/update_arm_servo', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: 'slider=' + encodeURIComponent(slider) + '&value=' + encodeURIComponent(value)
                    })
                    .then(response => response.json())
                    .then(data => {
                        if(slider === 1) {
                            document.getElementById('outputHead').textContent = data.new_value
                        }
                        else if(slider === 2){
                            document.getElementById('outputArm1').textContent = data.new_value

                        }
                        else if(slider === 3){
                            document.getElementById('outputArm2').textContent = data.new_value
                        }
                        else if(slider === 4){
                            document.getElementById('outputGrabber').textContent = data.new_value
                        }


                    });
                }
            }


        </script>

    </head>
    <body>
        <h1>Control the Robot</h1>
        <button onmousedown="sendCommand('forward')" onmouseup="sendCommand('stop')">Forward</button>
        <button onmousedown="sendCommand('backward')" onmouseup="sendCommand('stop')">Backward</button>
        <button onmousedown="sendCommand('left')" onmouseup="sendCommand('stop')">Left</button>
        <button onmousedown="sendCommand('right')" onmouseup="sendCommand('stop')">Right</button>
        <button onmousedown="sendCommand('no_turn')" onmouseup="sendCommand('stop')">Straight</button>
        <button onclick="sendCommand('stop')">Stop</button>
        <a href="/take_photo">
            <button>Download Photo</button>
        </a>


        <br><br>
        <label for="sliderHead">Kopf Servo:</label>
        <input type="range" id="sliderHead" name="sliderHead" min="0" max="180" value="90" step="1"
            oninput="sendSliderValue(1, document.getElementById(`sliderHead`).value)">
        <span id="outputHead">50</span>
        <br><br>

        <label for="sliderArm1">Arm 1 Servo:</label>
        <input type="range" id="sliderArm1" name="sliderArm1" min="0" max="180" value="90" step="1"
            oninput="sendSliderValue(2, document.getElementById(`sliderArm1`).value)">
        <span id="outputArm1">50</span>
        <br><br>

        <label for="sliderArm2">Arm 2 Servo:</label>
        <input type="range" id="sliderArm2" name="sliderArm2" min="0" max="180" value="90" step="1"
            oninput="sendSliderValue(3, document.getElementById(`sliderArm2`).value)">
        <span id="outputArm2">50</span>
        <br><br>

        <label for="sliderGrabber">Greifer Servo:</label>
        <input type="range" id="sliderGrabber" name="sliderGrabber" min="0" max="180" value="90" step="1"
            oninput="sendSliderValue(4, document.getElementById(`sliderGrabber`).value)">
        <span id="outputGrabber">50</span>
        <br><br>



        <img src="{{ url_for('video_feed') }}" width="640" height="480">
        




    </body>
</html>


